openapi: 3.0.3
info:
  title: 韭研公社网页端 API（历史整理）
  version: 1.0.0
  description: |
    本文档从 `master:docs/human/api-docs/jygs-api.yml` 恢复，并按 AlphaPredator
    当前实现补充鉴权说明。它不是韭研公社官方发布的稳定 API 文档，接口可能随时变化。

    登录只负责取得 SESSION。每次 API 请求还必须使用当前毫秒时间戳动态计算 token：
    `MD5("Uu0KfOB8iUP69d3c:" + timestamp)`。token 和 timestamp 必须来自同一个值。
servers:
  - url: https://app.jiuyangongshe.com/jystock-app

security:
  - sessionCookie: []

paths:
  /api/v1/action/diagram-url:
    post:
      summary: 每日涨停简图
      description: AlphaPredator 当前也使用此接口验证 SESSION 和动态 token 是否有效。
      operationId: getDiagramUrl
      parameters:
        - $ref: '#/components/parameters/PlatformHeader'
        - $ref: '#/components/parameters/TimestampHeader'
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagramUrlRequest'
            example:
              date: '2026-04-30'
      responses:
        '200':
          description: 业务结果，只有 `errCode` 为字符串 `0` 时才视为成功。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagramUrlResponse'

  /api/v1/action/field:
    post:
      summary: 全量涨停股票解析
      operationId: getActionFieldList
      parameters:
        - $ref: '#/components/parameters/PlatformHeader'
        - $ref: '#/components/parameters/TimestampHeader'
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionFieldRequest'
            example:
              date: '2026-04-30'
              pc: 1
      responses:
        '200':
          description: 业务结果，只有 `errCode` 为字符串 `0` 时才视为成功。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionFieldResponse'

  /api/v1/action/list:
    post:
      summary: 历史分页涨停股票解析
      description: 历史文档曾记录该接口，但后续实现已停用。保留结构仅供追溯，不应视为当前可用能力。
      deprecated: true
      operationId: getActionList
      parameters:
        - $ref: '#/components/parameters/PlatformHeader'
        - $ref: '#/components/parameters/TimestampHeader'
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionListRequest'
            example:
              action_field_id: 'recommend,2026-04-30'
              pc: 1
              start: 1
              limit: 30
              sort_price: 0
              sort_range: 0
              sort_time: 0
      responses:
        '200':
          description: 历史响应结构，当前未验证。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionListResponse'

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: SESSION
      description: 通过浏览器登录捕获的 SESSION Cookie，属于敏感凭据。

  parameters:
    PlatformHeader:
      name: platform
      in: header
      required: true
      description: 网页端平台标识，当前观察值为字符串 `3`。
      schema:
        type: string
        enum: ['3']
    TimestampHeader:
      name: timestamp
      in: header
      required: true
      description: 当前 Unix 毫秒时间戳的十进制字符串；必须与 token 使用的时间戳一致。
      schema:
        type: string
        pattern: '^\d{13}$'
    TokenHeader:
      name: token
      in: header
      required: true
      description: 当前算法为 `MD5("Uu0KfOB8iUP69d3c:" + timestamp)`，输出 32 位小写十六进制字符串。
      schema:
        type: string
        pattern: '^[0-9a-f]{32}$'

  schemas:
    DiagramUrlRequest:
      type: object
      required: [date]
      properties:
        date:
          type: string
          format: date
          description: 日期，格式 YYYY-MM-DD。
          example: '2026-04-30'

    DiagramUrlResponse:
      type: object
      properties:
        msg:
          type: string
        data:
          type: string
          nullable: true
          description: 图片完整 URL。
        errCode:
          type: string
          description: 字符串 `0` 表示成功。
        serverTime:
          type: integer
          format: int64

    ActionListRequest:
      type: object
      required: [action_field_id, pc, start, limit, sort_price, sort_range, sort_time]
      properties:
        action_field_id:
          type: string
          description: 历史筛选标识，格式为 `字段,日期`，例如 `recommend,2026-04-30`。
        pc:
          type: integer
          description: 分页标识。
        start:
          type: integer
          description: 起始索引，从 1 开始。
        limit:
          type: integer
          description: 每页记录数。
        sort_price:
          type: integer
          description: 价格排序；历史值 0 为不排序、1 为升序、2 为降序。
        sort_range:
          type: integer
          description: 涨跌幅区间排序；历史值 0 为不排序。
        sort_time:
          type: integer
          description: 涨停时间排序；历史值 0 为不排序。

    ActionListResponse:
      type: object
      properties:
        msg:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/StockItem'
        errCode:
          type: string
        serverTime:
          type: integer
          format: int64

    ActionFieldRequest:
      type: object
      required: [date, pc]
      properties:
        date:
          type: string
          format: date
          description: 交易日期，格式 YYYY-MM-DD。
        pc:
          type: integer
          description: 历史文档称其为页码；当前项目固定传 1。

    ActionFieldResponse:
      type: object
      properties:
        msg:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/CategoryItem'
        errCode:
          type: string
        serverTime:
          type: integer
          format: int64

    CategoryItem:
      type: object
      properties:
        name:
          type: string
          description: 题材名称。
        date:
          type: string
          description: 交易日，格式 YYYY-MM-DD。
        count:
          type: integer
          description: 该题材下的涨停股票数量。
        list:
          type: array
          description: 涨停股票列表，部分题材可能不返回。
          items:
            $ref: '#/components/schemas/StockItem'

    StockItem:
      type: object
      properties:
        code:
          type: string
          description: 带市场前缀的股票代码，例如 `sz000609`。
        name:
          type: string
          description: 股票简称。
        article:
          $ref: '#/components/schemas/Article'

    Article:
      type: object
      properties:
        action_info:
          $ref: '#/components/schemas/ActionInfo'
        title:
          type: string

    ActionInfo:
      type: object
      properties:
        time:
          type: string
          description: 涨停时间，格式 HH:MM:SS。
        num:
          type: string
          nullable: true
          description: 连板情况，例如 `14天10板`；null 表示首次涨停。
        price:
          type: integer
          description: 价格，单位为分。
        day:
          type: integer
          nullable: true
          description: 累计天数；null 表示首次涨停。
        edition:
          type: integer
          nullable: true
          description: 涨停次数；null 表示首次涨停。
        shares_range:
          type: number
          format: float
          description: 涨幅原始值，除以 100 后得到百分比，例如 1002 表示 10.02%。
        expound:
          type: string
          description: 详细解析，可能以换行分隔要点。
